@page
@using System.Linq
@model GraphDB.Pages.IndexModel
@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
}
<!-- Database Status Display -->
<section class="database-status">
    <p>@(Model.IsDatabaseLoaded ? $"Current database: @Model.CurrentDatabase" : "No database is currently loaded.")</p>
</section>

<!-- Command Input Form -->
<section class="command-input">
    <form method="post" asp-page-handler="ExecuteCommand" class="form-container">
        <div class="form-group flex-container">
            <input type="text" asp-for="Command.Command" placeholder="Enter command" class="form-control flex-input" />
            <button type="submit" class="btn btn-primary">Execute</button>
        </div>
    </form>
</section>

<!-- Command History Display -->
<section class="command-history">
    <form method="post" asp-page-handler="DeleteHistory">
        <button type="submit" class="btn btn-warning">Clear History</button>
    </form>
    @if (Model.Command.History.Any())
    {
        @foreach (var item in Model.Command.History.Select((value, index) => new { value, index }))
        {
            <div class="command-response-box">
                <p><strong>Command:</strong> @item.value.Command</p>
                <!-- Using Vue.js for parsing and displaying JSON data -->
                <div id="app-@item.index">
                    <p><strong>Response:</strong></p>
                    <pre v-if="isValidJson(itemResponse)">{{ prettyPrintJson(itemResponse) }}</pre>
                    <p v-else>@Html.Raw(item.value.Response)</p>
                </div>
                <script>
                    new Vue({
                        el: '#app-@item.index',
                        data: {
                            itemResponse: '@Html.Raw(item.value.Response)'
                        },
                        methods: {
                            isValidJson(str) {
                                try {
                                    JSON.parse(str);
                                } catch (e) {
                                    return false;
                                }
                                return true;
                            },
                            prettyPrintJson(str) {
                                return JSON.stringify(JSON.parse(str), null, 2);
                            }
                        }
                    });
                </script>
                <div class="button-group" style="display: flex; justify-content: space-between;">
                    <!-- Forms for Delete and Re-Execute -->
                </div>
            </div>
        }
    }
    else
    {
        <p>No history available.</p>
    }
</section>
